#formulario{
    width: 20%;
    height: 60%;
    left: 40%;
    top:20%;
    position: relative ;
    background: #4BACF9;
    text-align:center;
}

#texto{
    position: relative;
    top: 10%;
    font-size: 2rem;
    color: #E67236;

}

#formulario1{
    top:20%;
    position: relative ;
    color:white;
    font-family: 'Roboto', sans-serif;
}

#boton1{
    top:20%;
    position: relative;
}

#imagen1{
    top: 20%;
    position: relative;
}